<form method="POST" action="">
			{{ form.hidden_tag()}}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Search Table </legend>
				<div class="form-group">
					{{ form.animeID.label(class="form-control-label")}}
					{{ form.animeID(class="form-control form-control-lg")}}
				</div>
				<div class="form-group">
					{{ form.analyze.label(class="form-control-label")}}
					{{ form.analyze(class="form-control form-control-lg")}}
				</div>
				<div class="form-group">
					{{ form.search(class="btn btn-outline-info") }}
				</div>
			</fieldset>
		</form>