<form method="POST" action="">
			{{ form.hidden_tag()}}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Search Table </legend>

				<h4>Filtrating by:</h4>
				<div class="form-group">
					{{ form.ongoing.label(class="form-control-label")}}
					{{ form.ongoing(class="form-control form-control-lg")}}
				</div>
				<div class="form-group">
					{{ form.sznOfRelease.label(class="form-control-label")}}
					{{ form.sznOfRelease(class="form-control form-control-lg")}}
				</div>
				<div class="form-group">
					{{ form.genre.label(class="form-control-label")}}
					{{ form.genre(class="form-control form-control-lg")}}
				</div>
				<div class="form-group">
					{{ form.animeType.label(class="form-control-label")}}
					{{ form.animeType(class="form-control form-control-lg")}}
				</div>
				
				<h4>Sorting by:</h4>
				<div class="form-group">
					{{ form.sortBy.label(class="form-control-label")}}
					{{ form.sortBy(class="form-control form-control-lg")}}
				</div>

				<h4>Select only when having a sorting feature:</h4>
				<div class="form-group">
					{{ form.orderBy.label(class="form-control-label")}}
					{{ form.orderBy(class="form-control form-control-lg")}}
				</div>
				<div class="form-group">
					{{ form.search(class="btn btn-outline-info") }}
				</div>
				

			</fieldset>
		</form>

<h2>Search Result:</h2>		
<table>
    <tr>
        {% for col in column_names %}
        {% if col == link_column %}
        <th>poster</th>
        {% else %}
        <th>{{col}}</th>
        {% endif %}
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if col == link_column %}
        <td><img src={{row_}}  alt="Image"></td>

        {% else %}
        <td>{{row_}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}

</table>